@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://demo.productionready.io/main.css");

.navbar-brand {
  font-weight: 700;
}

.article-preview {
  position: relative;
}

.article-preview .tag-list {
  position: absolute;
  bottom: 24px;
  right: 0;
}

.comment-author-img {
  margin-right: 5px;
}

.tag-default.tag-outline:hover {
  background: #bfc7cd !important;
  color: white !important;
}

button,
button:focus {
  border: none;
  outline: 0;
  background-color: transparent;
}
